<div class="container">
  <h2>Mis Fotos</h2>

  <div *ngIf="fotos.length > 0" class="photo-grid">
    <div *ngFor="let photo of fotos" class="photo-card">
      <img [src]="photo.photo_url" alt="{{ photo.title }}" class="photo-img" />
      <h3>{{ photo.title }}</h3>
      <p>Status: {{ photo.status }}</p>
      <button (click)="editPhoto(photo)">Editar</button>
      <button (click)="deletePhoto(photo.id)">Eliminar</button>
    </div>
  </div>

  <div *ngIf="fotos.length === 0">
    <p>No hay fotos para mostrar.</p>
  </div>

  <!-- Modal de edición de foto -->
  <div *ngIf="isEditModalOpen" class="modal-overlay">
    <div class="modal-content">
      <h5>Editar Foto: {{ selectedPhoto?.title }}</h5>

      <label for="title">Nuevo Título</label>
      <input [(ngModel)]="selectedPhoto.title" id="title" type="text" placeholder="Nuevo título"
        class="photo-title-input" />

      <label for="photo">Nueva Foto</label>
      <input #editFileInput type="file" (change)="onFileSelected($event)" id="photo"
  [disabled]="selectedPhoto?.status === 'approved'" />

      <p *ngIf="selectedPhoto?.status === 'approved'" style="color: gray; font-size: 0.9rem;">
        No se puede cambiar la imagen si la foto está aprobada.
      </p>


      <div *ngIf="imagePreview">
        <!-- Imagen de vista previa, redimensionada al tamaño deseado -->
        <img [src]="imagePreview" alt="Vista previa de la foto" class="preview-img" />
      </div>

      <div class="modal-buttons">
        <button (click)="onSaveEdit()">Guardar cambios</button>
        <button (click)="closeEditModal()">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Botón para volver -->
<div class="button-container">
  <button (click)="goBackToUserPanel()" class="back-button">Volver</button>
</div>
