<div class="dashboard">
  <div class="dashboard-header">
    <h1>Gestión de Rallies</h1>
  </div>

  <div class="d-flex justify-content-end mb-3">
    <button class="btn-guardar" (click)="router.navigate(['/admin/create-rallies'])">➕ Nuevo Rally</button>
  </div>

  <div class="tabla-card">
    <table class="tabla-calida">
      <thead>
        <tr>
          <th>Título</th>
          <th>Tema</th>
          <th>Descripción</th>
          <th>Fechas</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rally of rallies">
          <td>{{ rally.title }}</td>
          <td>{{ rally.theme }}</td>
          <td>{{ rally.description }}</td>
          <td>{{ rally.start_date | date: 'dd/MM/yyyy' }} - {{ rally.end_date | date: 'dd/MM/yyyy' }}</td>
          <td>
            <button class="btn-editar" (click)="rally.id !== undefined && editRally(rally.id)">Editar</button>
            <button class="btn-eliminar" (click)="rally.id !== undefined && deleteRally(rally.id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="button-container mt-4">
    <button (click)="goBackToAdminPanel()" class="btn-guardar">⬅ Volver</button>
  </div>
</div>
