<div class="dashboard admin-panel">
  <div class="dashboard-header">
    <h1>Panel de Administración</h1>
  </div>

  <div class="card-container">
    <div class="card" (click)="goToRalliesManagement()">
      <h2>Gestión de Rallies</h2>
      <p>Crear, editar o eliminar rallies existentes.</p>
      <button class="btn-guardar">Gestionar Rallies</button>
    </div>

    <div class="card" (click)="goToUsersManagement()">
      <h2>Gestión de Usuarios</h2>
      <p>Administrar usuarios registrados en el sistema.</p>
      <button class="btn-guardar">Gestionar Usuarios</button>
    </div>

    <div class="card" (click)="goToPhotosManagement()">
      <h2>Gestión de Fotos</h2>
      <p>Administrar el estado de las fotos de los usuarios.</p>
      <button class="btn-guardar">Gestionar Fotos</button>
    </div>
  </div>
  <p>Aqui puedes descargarte nuestro <a href="/docs/manual_administrador.pdf" download target="_blank" class="btn-descarga">manual de administrador (PDF)</a>.</p>
  
 <!-- Después del div.user-dashboard -->
  <!-- Estadísticas abajo -->
  <div class="card-container">
  <div class="card card-stats">
    <h2>Rallies con más participación</h2>
    <ul>
      <li *ngFor="let rally of topRallies">
        {{ rally.title }} : {{ rally.inscritos }} participantes
      </li>
    </ul>
    <p *ngIf="topRallies.length === 0">No hay rallies con inscritos todavía.</p>
  </div>

  <div class="card card-graph">
    <ng-container *ngIf="barChartData">
      <div class="chart-wrapper">
        <canvas baseChart [data]="barChartData" [type]="barChartType" [options]="{ responsive: true }"></canvas>
      </div>
    </ng-container>
  </div>
</div>

</div>