<div class="admin">
    <h1>Panel de Administración</h1>
  
    
    <div class="card-container">
      <div class="card">
        <h2>Gestión de Rallies</h2>
        <p>Crear, editar o eliminar rallies existentes.</p>
        <button (click)="goToRalliesManagement()">Gestionar Rallies</button>
      </div>
  
      <div class="card">
        <h2>Gestión de Usuarios</h2>
        <p>Administrar usuarios registrados en el sistema.</p>
        <button (click)="goToUsersManagement()">Gestionar Usuarios</button>
      </div>
    </div>
  </div>
  