
<div class="faqs">
<!-- ENCABEZADO -->
  <header class="faqs-header">
    <nav class="tabs">
     <button (click)="volverADashboard()" [class.active]="tabActivo === 'perfil'">Perfil</button>
      <button [routerLink]="['/mis-rallies']" [class.active]="tabActivo === 'misrallies'">Mis Rallies</button>
      <button [routerLink]="['/mis-fotos']" [class.active]="tabActivo === 'misfotos'">Mis Fotos</button>
     <button (click)="entrarGaleria()" [class.active]="tabActivo === 'gallery'">Galería</button>
     <button (click)="seleccionarTab('faqs')" [class.active]="tabActivo === 'faqs'">FAQs</button>

    </nav>
  </header>
<div class="acordeon-card">
  <h2>Preguntas Frecuentes</h2>
  <div class="acordeon" *ngFor="let item of preguntasRespuestas; let i = index">
    <div class="acordeon-header" (click)="toggle(i)">
      <span>{{ item.pregunta }}</span>
      <span class="flecha">{{ item.abierta ? '▲' : '▼' }}</span>
    </div>
    <div class="acordeon-body" [class.abierto]="item.abierta" [innerHTML]="item.respuesta"></div>
  </div>
</div>


<!-- Botón volver -->
<div class="button-container">
  <button (click)="goBackToUserPanel()" class="back-button">Volver</button>
</div>
</div>
