<div class="user-dashboard">
    <h1>Bienvenido a tu Panel de Usuario</h1>
    
    <!-- Sección de tarjetas -->
    <div class="card-container">
      
      <!-- Card de Próximos Rallies -->
      <div class="card">
        <h2>Próximos Rallies</h2>
        <p>Participa en los próximos rallies fotográficos que tenemos preparados para ti.</p>
        <button class="btn-enter" (click)="entrarProximosRallies()">Entrar</button>
      </div>
  
      <!-- Card de Rallies Actuales -->
      <div class="card">
        <h2>Rallies Actuales</h2>
        <p>Únete a los rallies en los que estás participando actualmente.</p>
        <button class="btn-enter" (click)="entrarRalliesActuales()">Entrar</button>
      </div>
  
      <!-- Card de Rallies Finalizados -->
      <div class="card">
        <h2>Rallies Finalizados</h2>
        <p>Revive los rallies pasados y mira las fotos que tomaste.</p>
        <button class="btn-enter" (click)="entrarRalliesPasados()">Entrar</button>
      </div>
    </div>
  </div>
  