<h2>Rallies Pasados</h2>
<ul>
  <li *ngFor="let rally of ralliesPasados">
    <h3>{{ rally.title }}</h3>
    <p>{{ rally.description }}</p>
    <p>Inicio: <span>{{ rally.start_date | date:'dd/MM/yyyy' }}</span> - Fin: <span>{{ rally.end_date | date:'dd/MM/yyyy' }}</span></p>
  </li>
</ul>

<p *ngIf="ralliesPasados.length === 0" class="no-rallies-message">No hay rallies pasados.</p>

<!-- Botón para volver -->
<div class="button-container">
  <button (click)="goBackToUserPanel()" class="back-button">Volver</button>
</div>