<h2>Rallies Actuales</h2>
<ul>
  <li *ngFor="let rally of ralliesActuales">
    <h3>{{ rally.title }}</h3>
    <p>{{ rally.description }}</p>
    <p>
      Inicio: <span>{{ rally.start_date | date: 'dd/MM/yyyy' }}</span> -
      Fin: <span>{{ rally.end_date | date: 'dd/MM/yyyy' }}</span>
    </p>

    
    <!-- Botón que cambia dependiendo de si ya estás inscrito -->
    <button *ngIf="!isUserInscribed(rally.id)" class="apuntarme-btn" (click)="apuntarse(rally.id)">
      Apuntarse
    </button>
  
    <button *ngIf="isUserInscribed(rally.id)" class="cancelar-btn" (click)="cancelarInscripcion(rally.id)">
      Cancelar Inscripción
    </button>
  </li>
</ul>

<!-- Botón para volver -->
<div class="button-container">
  <button (click)="goBackToUserPanel()" class="back-button">Volver</button>
</div>