<div class="table-container">
    <table class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellidos</th>
          <th>Email</th>
          <th>Rol</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.name }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.role }}</td>
          <td class="actions">
            <button class="action-btn edit-btn" (click)="editUser(user.id)">Editar</button>
            <button class="action-btn delete-btn" (click)="deleteUser(user.id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
      <!-- Botón para volver -->
<div class="button-container">
  <button (click)="goBackToAdminPanel()" class="back-button">Volver</button>
</div>
  </div>
  